.Logo img {
    width: 332px;
    height: 194px;
    margin-top: 20%;

}

@media (width:375px) and (height:667px){
    .Logo img{
        width: 332px;
        height: 194px;
        left: 22px;
        top: 93px;
    }
  }